.file {
	position: absolute;
	cursor: pointer;
	z-index: var(--file-index);
	transition: left 0.5s linear;
}

.file:hover {
	/* filter: brightness(1.2); */
}

.file-image {
	height: 100%;
	width: 100%;
	object-fit: cover;
	animation: file-inner-child-animation 2s forwards;
	display: grid;
	place-items: center;
}

.file-video {
	animation: file-inner-child-animation 5s forwards;
}

.file-pdf {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	overflow-y: hidden;
}

.file-pdf-leaf {
	height: 100px;
	border-radius: 10px;
	padding-bottom: 30px;
}

.file-pdf-spine {
	height: 80%;
	width: 5px;
	background: var(--dark-glass);
}

.file-options {
	position: absolute;
	bottom: -40px;
	right: -30px;
	background: var(--dark-glass);
	z-index: var(--file-options-index);
	padding: 10px;
	padding-left: 5px;
}

.file-options-item {
	color: white;
	font-size: 10px;
	width: 100%;
	display: flex;
	height: 20px;
}

.file-type-indicator {
	width: 15px;
	position: absolute;
	left: -8px;
	top: -8px;
	animation: warp-in 2.2 forwards ease-out;
	animation-delay: 1s;
	background-color: var(--dark-glass);
	padding: 5px;
	border-radius: 50%;
	font-size: 3px;
	color: var(--glass);
	z-index: 3;
}

.user-indicator {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 16px;
	top: -8px;
	animation: warp-in 2.2 forwards ease-out;
	animation-delay: 1s;
	background-color: var(--dark-glass);
	padding: 5px;
	border-radius: 50%;
	font-size: 3px;
	color: var(--glass);
	z-index: 2;
	object-fit: cover;
}

.file-drag-handle {
	height: 16px;
	width: 16px;
	cursor: grab;
	/* background: var(--dark-glass); */
	background: #1a1a1a;
	border-radius: 50%;
	position: absolute;
	bottom: 0px;
	right: 0px;
	right: -3px;
	bottom: -3px;
	display: grid;
	place-items: center;
	z-index: var(--file-drag-handle-index);
	/* display: none; */
}

.file-drag-handle:active {
	cursor: grabbing;
}

@keyframes warp-in {
	from {
		display: none;
		min-width: 0px;
	}

	to {
		display: block;
		min-width: 20px;
	}
}

@keyframes drop-animation {
	from {
		height: var(--file-size);
		width: var(--file-size);
	}

	to {
		height: calc(var(--file-size) / 2);
		width: calc(var(--file-size) / 2);
	}

	to {
		height: var(--file-size);
		width: var(--file-size);
	}
}

@keyframes file-slide-in-animation {
	from {
		opacity: 0;
		transform: translateX(-20px);
	}

	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

@keyframes file-bounce-in-animation {
	0% {
		opacity: 0;
		transform: scale(0.3);
	}
	50% {
		opacity: 1;
		transform: scale(1.05);
	}
	70% {
		transform: scale(0.9);
	}
	100% {
		transform: scale(1);
	}
}
