.archive {
	height: 100vh;
	background: var(--dark-glass);
	scroll-snap-align: start;
	color: white;
	padding-top: 80px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}

.archive-header {
	height: 50px;
	position: absolute;
	top: 0;
	right: 0;
	display: grid;
	place-items: center;
	padding-left: 20px;
	padding-right: 20px;
	background: var(--dark-glass);
	font-weight: bold;
}

.date-stamp {
	font-size: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.time-stamp {
	margin: 100px;
	background: red;
}

.archive-column {
	display: flex;
	flex-wrap: wrap;
	height: 100%;
	overflow-y: scroll;
	padding-bottom: 300px;
	padding-top: 5px;
}
