.home {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	/* box-shadow: 0 2px 5px rgba(120, 120, 120, 0.25); */
	/* box-shadow: 0 2px 105px red; */

	scroll-snap-align: start;
}

.home-superior {
	scroll-snap-type: y mandatory;
	height: 100%;
	overflow: scroll;
}

.home-grid {
	position: absolute;
	max-height: 100%;
	width: 100vw;
	top: 0px;
	display: flex;
	flex-wrap: wrap;
	padding: 80px 20px 30px;
	overflow-y: scroll;
}

.home-bg {
	height: 100%;
	width: 100%;
	object-fit: cover;
	position: absolute;
	z-index: var(--home-bg-index);
}

.home-menu {
	position: absolute;
	background: var(--dark-glass);
	z-index: var(--home-menu-index);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.home-menu-item {
	min-width: 70px;
	color: white;
	text-align: left;
	font-size: 10px;
	padding: 10px;
	height: 30px;
}
