.file-options-menu {
	position: absolute;
	height: 100vh;
	width: 50px;
	top: 0px;
	right: 0px;
	background: var(--dark-glass);
	z-index: var(--file-options-menu-index);
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 10px;
}

@keyframes open-menu-animation {
	from {
		width: 0vw;
		background: transparent;
	}

	to {
		width: 50px;
		background: var(--dark-glass);
	}
}

@keyframes close-menu-animation {
	from {
		width: 50px;
		background: var(--dark-glass);
	}

	to {
		width: 0vw;
		background: transparent;
	}
}
