.stashpanel {
	position: relative;
	height: 100vh;
}

.window-menu {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: var(--window-menu-index);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.window-menu-item {
	width: 30px;
	display: grid;
	place-items: center;
	background: var(--dark-glass);
	padding: 5px;
	cursor: pointer;
}

.window-menu-item > img {
	width: 10px;
}

.close {
	position: absolute;
	top: 0;
	right: 0;
	width: 20px;
	cursor: pointer;
}

.doubledown {
	position: absolute;
	/* bottom: 100; */
	right: 30;
	width: 20px;
	cursor: pointer;
}
